@import "compass/css3";

@font-face {
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/decade.ttf');
  font-family: Decade;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
  background: #000;
  
  @media (max-width: 767px) {
    & {
      font-size: 80%;
    }
  }
  @media (max-width: 640px) {
    & {
      font-size: 60%;
    }
  }
  @media (max-width: 480px) {
    & {
      font-size: 40%;
    }
  }
}

.inner {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}

.scene {
  width: 100%;
  height: 100%;
}
.page {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform .7s, opacity .7s, z-index .7s;
  will-change: transform, opacity;
  
  &:nth-child(1) {
    .left {
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-1.jpg');
    }
    .right {
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-2.jpg');
    }
  }
  &:nth-child(2) {
    .left {
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-3.jpg');
    }
    .right {
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-4.jpg');
    }
  }
  &:nth-child(3) {
    .left {
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-5.jpg');
    }
    .right {
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-6.jpg');
    }
  }
  &:nth-child(4) {
    .left {
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-7.jpg');
    }
    .right {
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-8.jpg');
    }
  }
  
  &.active {
    z-index: 5;
    transition: transform .7s, opacity .7s, z-index 0s .7s;
    
    .half {
      transform: translateX(0) !important;
      transition: transform .7s ease-out;
    }
  }
  
  &.previous {
    opacity: 0.4 !important;
    visibility: visible !important;
    transition: transform .7s, opacity .7s, z-index 0s;
  }
  
  &.small {
    transform: scale(0.8);
    opacity: 0;
    //visibility: hidden;
    
    .half {
      transform: translateX(0) !important;
    }
  }
  
  @for $i from 2 through 10 {
    &:nth-child(#{$i}) {
      .left {
        transform: translateX(-100%);
      }
      .right {
        transform: translateX(100%);
      }
    }
  }
}
.half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  transition: transform .7s ease-in;
  will-change: transform;
  
  &.left {
    left: 0;
  }
  &.right {
    left: 50%;
  }
  
  &.withText:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
  }
}

.heading {
  position: absolute;
  z-index: 500;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 3.5rem;
  color: #fff;
  font-family: Decade;
}

.nav-panel {
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  z-index: 1000;
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  will-change: transform, opacity;

  &.invisible {
    opacity: 0;
    transform: translateY(-50%) scale(0.5);
  }

  ul {
    list-style-type: none;

    .nav-btn {
      position: relative;
      overflow: hidden;
      width: 1rem;
      height: 1rem;
      margin-bottom: 0.5rem;
      border: 0.12rem solid #fff;
      border-radius: 50%;
      cursor: pointer;
      transition: border-color, transform 0.3s;
      will-change: border-color, transform;

      &:after {
        @extend .inner;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: translateX(-50%) translateY(-50%) scale(0.3);
        background-color: #fff;
        opacity: 0;
        transition: transform, opacity 0.3s;
        will-change: transform, opacity;
      }

      &.active:after, &:hover:after {
        transform: translateX(-50%) translateY(-50%) scale(0.7);
        opacity: 1;
      }
      &:hover {
        border-color: yellow;
        transform: scale(1.2);
      }
      &:hover:after {
        background-color: yellow;
      }
    }
  }

  .scroll-btn {
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1rem;
    border: 0.2rem solid #fff;
    border-left: none;
    border-bottom: none;
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: border-color 0.3s;

    &.up {
      top: -1.6rem;
      transform: rotate(-45deg);
    }
    &.down {
      bottom: -1.2rem;
      transform: rotate(135deg);
    }

    &:hover {
      border-color: yellow;
    }
  }

}

.check-out {
  z-index: 1000;
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Decade;
  font-size: 1rem;
  text-transform: uppercase;
  
  a {
    color: rgba(255,170,170,1);
    text-decoration: none;
    border-bottom: 0.2rem solid;
  }
}